In [1]:
import pandas as pd
train_df = pd.read_csv('../input/train.csv')
test_df = pd.read_csv('../input/test.csv')
submission_df = pd.read_csv('../input/sample_submission.csv')

In [2]:
train_df

              date  store  item  sales
0       2013-01-01      1     1     13
1       2013-01-02      1     1     11
2       2013-01-03      1     1     14
3       2013-01-04      1     1     13
4       2013-01-05      1     1     10
...            ...    ...   ...    ...
912995  2017-12-27     10    50     63
912996  2017-12-28     10    50     59
912997  2017-12-29     10    50     74
912998  2017-12-30     10    50     62
912999  2017-12-31     10    50     82

[913000 rows x 4 columns]

In [3]:
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras
from keras import optimizers
from keras.utils import plot_model
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

%matplotlib inline
warnings.filterwarnings("ignore")

Using TensorFlow backend.

In [4]:
def SMAPE (forecast, actual):
    """Returns the Symmetric Mean Absolute Percentage Error between two Series"""
    masked_arr = ~((forecast==0)&(actual==0))
    diff = abs(forecast[masked_arr] - actual[masked_arr])
    avg = (abs(forecast[masked_arr]) + abs(actual[masked_arr]))/2
    
    print('SMAPE Error Score: ' + str(round(sum(diff/avg)/len(forecast) * 100, 2)) + ' %')

In [5]:
def series_to_supervised(data, window=1, lag=1, dropnan=True, exogenous = ['item', 'store'], value = ['sales']):
    cols= list()
    names = exogenous.copy()
    cols.append(data[exogenous])
    
    for i in range(window, 0, -1):
        cols.append(data[value].shift(i))
        names += [('sales(t-%d)' % (i))]

    cols.append(data[value])
    names += ['sales(t)']

    cols.append(data[value].shift(-lag))
    names += [('sales(t+%d)' % ( lag))]
    
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # Drop rows with NaN values if needed
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [6]:
sample = train_df[(train_df.item == 1)&(train_df.store==1)]
sample.sample()

           date  store  item  sales
805  2015-03-17      1     1     15

In [29]:
window = 355
lag_size = 90
series = series_to_supervised(sample.drop('date', axis=1), window=window, lag=lag_size)
series

,item,store,sales(t-355),sales(t-354),sales(t-353),sales(t-352),sales(t-351),sales(t-350),sales(t-349),sales(t-348),...,sales(t-8),sales(t-7),sales(t-6),sales(t-5),sales(t-4),sales(t-3),sales(t-2),sales(t-1),sales(t),sales(t+90)
355,1,1,13.0,11.0,14.0,13.0,10.0,12.0,10.0,9.0,...,16.0,15.0,15.0,8.0,18.0,7.0,13.0,11.0,9,20.0
356,1,1,11.0,14.0,13.0,10.0,12.0,10.0,9.0,12.0,...,15.0,15.0,8.0,18.0,7.0,13.0,11.0,9.0,8,25.0
357,1,1,14.0,13.0,10.0,12.0,10.0,9.0,12.0,9.0,...,15.0,8.0,18.0,7.0,13.0,11.0,9.0,8.0,17,4.0
358,1,1,13.0,10.0,12.0,10.0,9.0,12.0,9.0,9.0,...,8.0,18.0,7.0,13.0,11.0,9.0,8.0,17.0,6,15.0
359,1,1,10.0,12.0,10.0,9.0,12.0,9.0,9.0,7.0,...,18.0,7.0,13.0,11.0,9.0,8.0,17.0,6.0,16,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731,1,1,24.0,29.0,18.0,18.0,16.0,16.0,32.0,32.0,...,20.0,20.0,28.0,37.0,24.0,14.0,18.0,27.0,23,14.0
1732,1,1,29.0,18.0,18.0,16.0,16.0,32.0,32.0,26.0,...,20.0,28.0,37.0,24.0,14.0,18.0,27.0,23.0,28,19.0
1733,1,1,18.0,18.0,16.0,16.0,32.0,32.0,26.0,20.0,...,28.0,37.0,24.0,14.0,18.0,27.0,23.0,28.0,30,15.0
1734,1,1,18.0,16.0,16.0,32.0,32.0,26.0,20.0,21.0,...,37.0,24.0,14.0,18.0,27.0,23.0,28.0,30.0,21,27.0
1735,1,1,16.0,16.0,32.0,32.0,26.0,20.0,21.0,20.0,...,24.0,14.0,18.0,27.0,23.0,28.0,30.0,21.0,12,23.0

In [30]:
labels = series.iloc[:, -1]
series = series.iloc[:, :-1]%recall

NameError: name 'recall' is not defined

In [31]:
X_train, X_valid, Y_train, Y_valid = train_test_split(series, labels.values, test_size=0.2, random_state=0)
print('Train set shape', X_train.shape)
print('Validation set shape', X_valid.shape)
X_train.head()

Train set shape (1104, 359)
Validation set shape (277, 359)

,item,store,sales(t-355),sales(t-354),sales(t-353),sales(t-352),sales(t-351),sales(t-350),sales(t-349),sales(t-348),...,sales(t-8),sales(t-7),sales(t-6),sales(t-5),sales(t-4),sales(t-3),sales(t-2),sales(t-1),sales(t),sales(t+90)
1037,1,1,25.0,24.0,18.0,17.0,18.0,19.0,17.0,28.0,...,18.0,8.0,17.0,19.0,30.0,26.0,16.0,25.0,26,16.0
1273,1,1,21.0,33.0,26.0,30.0,19.0,22.0,19.0,20.0,...,28.0,15.0,25.0,25.0,23.0,31.0,31.0,32.0,26,27.0
1458,1,1,16.0,26.0,7.0,13.0,9.0,18.0,13.0,8.0,...,12.0,20.0,21.0,13.0,20.0,16.0,10.0,16.0,21,12.0
1299,1,1,20.0,26.0,20.0,25.0,22.0,19.0,33.0,14.0,...,33.0,34.0,37.0,24.0,25.0,22.0,34.0,26.0,34,25.0
1292,1,1,13.0,27.0,26.0,22.0,29.0,28.0,19.0,20.0,...,34.0,35.0,28.0,18.0,27.0,30.0,22.0,33.0,34,32.0

In [21]:
X_train_series = X_train.values.reshape((X_train.shape[0], X_train.shape[1], 1))
X_valid_series = X_valid.values.reshape((X_valid.shape[0], X_valid.shape[1], 1))
print('Train set shape', X_train_series.shape)
print('Validation set shape', X_valid_series.shape)

Train set shape (1104, 359, 1)
Validation set shape (277, 359, 1)

In [11]:
epochs = 40
batch = 256
lr = 0.0003
adam = optimizers.Adam(lr)

In [48]:
model_cnn = Sequential()
model_cnn.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(X_train_series.shape[1], X_train_series.shape[2])))
model_cnn.add(MaxPooling1D(pool_size=2))
model_cnn.add(Flatten())
model_cnn.add(Dense(100, activation='relu'))
model_cnn.add(Dense(1))
model_cnn.compile(loss='mse', optimizer=adam)
model_cnn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_2 (Conv1D)            (None, 357, 64)           256
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 178, 64)           0
_________________________________________________________________
flatten_2 (Flatten)          (None, 11392)             0
_________________________________________________________________
dense_3 (Dense)              (None, 100)               1139300
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 101
=================================================================
Total params: 1,139,657
Trainable params: 1,139,657
Non-trainable params: 0
_________________________________________________________________

In [49]:
%%time
cnn_history = model_cnn.fit(X_train_series, Y_train, validation_data=(X_valid_series, Y_valid), epochs=epochs, verbose=2)

Train on 1104 samples, validate on 277 samples
Epoch 1/40
 - 0s - loss: 301.0077 - val_loss: 39.9655
Epoch 2/40
 - 0s - loss: 39.3413 - val_loss: 34.7818
Epoch 3/40
 - 0s - loss: 35.3353 - val_loss: 31.7000
Epoch 4/40
 - 0s - loss: 32.7497 - val_loss: 29.8310
Epoch 5/40
 - 0s - loss: 30.4546 - val_loss: 27.8524
Epoch 6/40
 - 0s - loss: 28.4941 - val_loss: 25.8046
Epoch 7/40
 - 0s - loss: 26.7067 - val_loss: 24.9026
Epoch 8/40
 - 0s - loss: 25.6657 - val_loss: 23.9585
Epoch 9/40
 - 0s - loss: 24.5734 - val_loss: 24.6998
Epoch 10/40
 - 0s - loss: 24.2942 - val_loss: 23.2430
Epoch 11/40
 - 0s - loss: 23.6825 - val_loss: 23.0026
Epoch 12/40
 - 0s - loss: 23.1498 - val_loss: 22.8825
Epoch 13/40
 - 0s - loss: 22.8299 - val_loss: 23.1733
Epoch 14/40
 - 0s - loss: 22.3455 - val_loss: 22.7957
Epoch 15/40
 - 0s - loss: 22.1221 - val_loss: 22.6398
Epoch 16/40
 - 0s - loss: 21.8037 - val_loss: 22.6829
Epoch 17/40
 - 0s - loss: 21.7821 - val_loss: 22.6726
Epoch 18/40
 - 0s - loss: 21.9271 - val_loss: 23.2083
Epoch 19/40
 - 0s - loss: 21.2027 - val_loss: 22.8971
Epoch 20/40
 - 0s - loss: 20.7789 - val_loss: 22.5945
Epoch 21/40
 - 0s - loss: 20.6050 - val_loss: 22.6227
Epoch 22/40
 - 0s - loss: 20.3411 - val_loss: 22.5477
Epoch 23/40
 - 0s - loss: 20.2941 - val_loss: 22.7442
Epoch 24/40
 - 0s - loss: 20.3718 - val_loss: 23.3938
Epoch 25/40
 - 0s - loss: 19.7861 - val_loss: 22.8599
Epoch 26/40
 - 0s - loss: 19.5623 - val_loss: 22.6319
Epoch 27/40
 - 0s - loss: 19.4604 - val_loss: 22.5865
Epoch 28/40
 - 0s - loss: 19.4427 - val_loss: 23.1950
Epoch 29/40
 - 0s - loss: 19.1982 - val_loss: 22.9419
Epoch 30/40
 - 0s - loss: 18.8325 - val_loss: 22.6961
Epoch 31/40
 - 0s - loss: 18.7170 - val_loss: 22.9079
Epoch 32/40
 - 0s - loss: 18.4611 - val_loss: 23.3437
Epoch 33/40
 - 0s - loss: 19.1022 - val_loss: 22.9405
Epoch 34/40
 - 0s - loss: 18.0499 - val_loss: 22.7297
Epoch 35/40
 - 0s - loss: 18.1513 - val_loss: 22.9674
Epoch 36/40
 - 0s - loss: 18.1492 - val_loss: 22.8336
Epoch 37/40
 - 0s - loss: 17.7684 - val_loss: 22.8340
Epoch 38/40
 - 0s - loss: 17.6216 - val_loss: 22.9861
Epoch 39/40
 - 0s - loss: 17.5578 - val_loss: 23.0227
Epoch 40/40
 - 0s - loss: 17.1939 - val_loss: 24.1865
Wall time: 7.78 s

In [72]:
MPL_prediction = model_cnn.predict(np.array(series).reshape(series.shape[0],series.shape[1],1)[-90:]).flatten()
SMAPE(MPL_prediction, labels[-90:])

SMAPE Error Score: 17.4 %

Empty DataFrame
Columns: [item, store, sales(t-355), sales(t-354), sales(t-353), sales(t-352), sales(t-351), sales(t-350), sales(t-349), sales(t-348), sales(t-347), sales(t-346), sales(t-345), sales(t-344), sales(t-343), sales(t-342), sales(t-341), sales(t-340), sales(t-339), sales(t-338), sales(t-337), sales(t-336), sales(t-335), sales(t-334), sales(t-333), sales(t-332), sales(t-331), sales(t-330), sales(t-329), sales(t-328), sales(t-327), sales(t-326), sales(t-325), sales(t-324), sales(t-323), sales(t-322), sales(t-321), sales(t-320), sales(t-319), sales(t-318), sales(t-317), sales(t-316), sales(t-315), sales(t-314), sales(t-313), sales(t-312), sales(t-311), sales(t-310), sales(t-309), sales(t-308), sales(t-307), sales(t-306), sales(t-305), sales(t-304), sales(t-303), sales(t-302), sales(t-301), sales(t-300), sales(t-299), sales(t-298), sales(t-297), sales(t-296), sales(t-295), sales(t-294), sales(t-293), sales(t-292), sales(t-291), sales(t-290), sales(t-289), sales(t-288), sales(t-287), sales(t-286), sales(t-285), sales(t-284), sales(t-283), sales(t-282), sales(t-281), sales(t-280), sales(t-279), sales(t-278), sales(t-277), sales(t-276), sales(t-275), sales(t-274), sales(t-273), sales(t-272), sales(t-271), sales(t-270), sales(t-269), sales(t-268), sales(t-267), sales(t-266), sales(t-265), sales(t-264), sales(t-263), sales(t-262), sales(t-261), sales(t-260), sales(t-259), sales(t-258), ...]
Index: []

[0 rows x 359 columns]

In [ ]:
SMAPE(check, result)